.HomeLeftPartContainer {
  text-align: center;
  background-color: white;
  overflow: hidden;
  .HomeLeftPartProfileSection {
    padding: 1.2rem 1.2rem 1rem;
    border-bottom: 1px solid lightgray;
    > div {
      background: linear-gradient(62deg, rgb(21, 213, 235) 0%, rgb(255, 0, 191) 100%);
      display: block;
      height: 56.25px;
      margin: -1.2rem -1.2rem 0;
    }
    p {
      margin-top: 4px;
      margin-bottom: 0;
      color: gray;
      font-weight: lighter;
    }

    img {
      height: 68px;
      width: 68px;
      margin: -38px auto 1.2rem;
      border: 2px solid white;
      border-radius: 50%;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .HomeLeftPartSecond {
    padding: 12px 0px;
    border-bottom: 1px solid lightgray;
    a {
      text-decoration: none;
      &:hover {
        background-color: rgba(199, 199, 199, 0.418);
      }
    }
    div {
      span {
        font-weight: 500;
      }
    }
  }
  .HomeLeftPartThird {
    text-decoration: none;
    text-align: start;
    padding: 16px;
    display: block;
    border-bottom: 1px solid lightgray;
    &:hover {
      background-color: rgba(199, 199, 199, 0.418);
    }
    h3 {
      font-size: 0.9em;
      color: gray;
      font-weight: 400;
      margin: 0;
    }
    div {
      span {
        font-size: 0.9em;
        font-weight: 500;
        color: black;
        text-decoration: underline;
      }
    }
  }
  .HomeLeftPartLast {
    text-decoration: none;
    display: block;
    padding: 16px;
    text-align: start;
    div {
      span {
        color: black;
        font-weight: 500;
      }
    }
    &:hover {
      background-color: rgba(199, 199, 199, 0.418);
    }
  }
}
.HomeRightPartContainer {
  padding: 15px;
  background-color: white;
  overflow: hidden;
  margin-bottom: 20px;
  h5 {
    font-size: 1rem;
    font-weight: 600;
  }
  .HomeRightPartHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
    user-select: none;
    svg:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
  h6 {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 5px;
  }
  ul {
    padding-left: 15px;
    li {
      list-style-type: disc;
      padding: 6px;
      &:hover {
        cursor: pointer;
        background-color: rgba(128, 128, 128, 0.219);
      }
      > p {
        font-size: 0.6rem;
        padding: 0;
      }
    }
  }
  .HomeRightPartShowMore {
    font-size: 0.8rem;
    padding: 7px;
    display: inline-flex;
    align-items: center;
    &:hover {
      cursor: pointer;
      border-radius: 10px;
      background-color: rgba(128, 128, 128, 0.219);
    }
  }
}
.HomeRightFooter {
  > div {
    &:last-child {
      margin-top: 10px;
    }
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    > a:nth-child(2) {
      margin-left: 20px;
    }
  }
  a {
    text-decoration: none;
    color: gray;
    margin-bottom: 0.3rem;
    transition: all 0.5s ease;
    &:hover {
      text-decoration: underline;
      color: rgb(0, 70, 201);
    }
  }
  .footer-logo {
    margin-right: 8px;
  }
}
