.HomeLeftPartContainer{
    text-align: center;
    background-color: white;
    overflow: hidden;
    .HomeLeftPartProfileSection{
        padding: 1.2rem 1.2rem 1rem;
        border-bottom: 1px solid lightgray;
        > div {
            background: linear-gradient(62deg, rgb(21, 213, 235) 0.00%, rgb(255, 0, 191) 100.00%);
            display: block;
            height: 56.25px;
            margin: -1.2rem -1.2rem 0;
        }
        p {
            margin-top: 4px;
            margin-bottom: 0;
            color: gray;
            font-weight: lighter;
        }
       
            
            img {
            height: 68px;
            width: 68px;
            margin: -38px auto 1.2rem;
            border: 2px solid white;
            border-radius: 50%;
        }
        a {
            text-decoration: none;
            color: black;
            &:hover {
                text-decoration: underline;
            }
        }
    
    }
    .HomeLeftPartSecond {
        padding: 12px 0px;
        border-bottom: 1px solid lightgray;
        a {
            text-decoration: none;
        &:hover {
            background-color: rgba(199, 199, 199, 0.418);
        }
        }
        div {
            span {
                font-weight: 500;
        }
        }
    }
    .HomeLeftPartThird{
        text-decoration: none;
        text-align: start;
        padding: 16px;
        display: block;
        border-bottom: 1px solid lightgray;
        &:hover {
            background-color: rgba(199, 199, 199, 0.418);
        }
        h3 {
            font-size: 0.9em;
            color: gray;
            font-weight: 400;
            margin: 0;
        }
        div {
            span {
                font-size: 0.9em;
                font-weight: 500;
                color: black;
                text-decoration: underline;
            }
        }
    }
    .HomeLeftPartLast {
        text-decoration: none;
        display: block;
        padding: 16px;
        text-align: start;
        div {
            span {
                color: black;
                font-weight: 500;
            }
        }
        &:hover {
            background-color: rgba(199, 199, 199, 0.418);
        }
    }
}

// Home Mid

.HomeMidButtonsCont{
    background-color: white;
    padding: 5px 10px;
    .HomeMidButton {
    border: none;
    padding: 10px 10px;
    color: gray;
    background-color: white;
    &:hover {
        background-color: rgba(199, 199, 199, 0.418);
        border-radius: 5px;
    }
    .HomeMidIcon {
        font-size: 1.3em;
    }
}
}

.HomeMidProfileCont{
    h3 {
        font-size: 1.1em;
        margin: 0;
    }
    a {
        text-decoration: none;
        color: black;
        &:hover {
            text-decoration: underline;
            color: #0A66C2;
        }
    }
    p {
        color: #666666;
        font-weight: 400;
    }
    .HomeMidDropDwon{
    &:hover {
        background-color: rgba(199, 199, 199, 0.418);
    }
    padding: 10px 10px;
    cursor: pointer;
    
    a {
        text-decoration: none;
        color: #5E5E5E;
        &:hover {
            text-decoration: none;
            color: #5E5E5E;
        }
    }
    }
    .dropdown-menu {
        width: 350px;
    }
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown-toggle {
        margin-top: -25px;
        &:hover {
            text-decoration: none;
            color: #5E5E5E;
        }
    }
    img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
}