footer {
  font-size: 0.8rem;
  .footer-logo {
    margin-bottom: 10px;
  }
  h6 {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
  select,
  .grayfooter {
    color: gray;
  }
  a {
    text-decoration: none;
    color: gray;
    margin-bottom: 0.3rem;
    transition: all 0.5s ease;
    &:hover {
      text-decoration: underline;
    }
    svg {
      font-size: 1.4rem;
      margin-right: 5px;
    }
  }
  .copyright {
    margin-top: 10px;
    opacity: 0.5;
  }
}
