.createPost {
  .createPostTextAreaOne {
    img {
      border-radius: 50%;
      width: 100%;
    }
    .avviaPost {
      height: 100%;
    }
  }
  .createPostTextAreaTwo {
    .photoIcon {
      color: #378fe9;
      font-size: 1.5em;
    }
    .playIcon {
      color: #5f9b41;
      font-size: 1.5em;
    }
    .calendarIcon {
      color: #c37d16;
      font-size: 1.5em;
    }
    .articleIcon {
      color: #e16745;
      font-size: 1.5em;
    }
  }
}
